.grid {
    width:7%;
    height:100%;
    float:left;
    margin: 0px 0.65% 0px 0.65%;
}

#table {
    margin: 80px 20% 0 20% ;
    padding: 1%;
    width: 500px;
    height: 500px;
    border-width:2px;
    border-style: solid;
    border-color:green;
}

.tableRow {
    width: 100%;
    height: 7%;
    margin:  0.65% 0px 0.65% 0 ;
    float: right;
    display: flex;
}
.grid0 {
    width: 100%;
    height:100%;
    float: right;
 }

.grid1 {
    width: 100%;
    height:100%;
    float: right;
    background: radial-gradient(circle, #0485ff 0%, #f6f6f6 40%, #ffffff 50%);
 }

.grid2 {
   width: 100%;
   height:100%;
   float: right;
   background: radial-gradient(circle, #0485ff 0%, #ffffff 57%);
}

.grid3{
    width: 100%;
    height:100%;
    float: right;
    background: radial-gradient(circle, #0469c8 0%, #0485ff 20%,#ffffff 70%);
 }

.grid4{
    width: 100%;
    height:100%;
    float: right;
    background: radial-gradient(circle, #0469c8 10%, #0485ff 45%,#ffffff 70%);
 }

 .flow {
    width: 100%;
    height:100%;
    float: right;
    background: radial-gradient(circle, #ff6d01 0%, #f6f6f6 40%, #ffffff 50%);
 }
